<a href="https://colab.research.google.com/github/poovizhi-15/PYTHON-ASSIGNMENT/blob/main/Python_Assignment_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Assignment 1: Data Structures - Strings & Tuples**

**Strings (Concatenation, Slicing and Other methods) :**

1. String Concatenation:

In [36]:
string1="HELLO"

In [37]:
name=input("Enter your Name:")

Enter your Name:poo

In [38]:
result=string1+name
print(result)

HELLOpoo

In [39]:
string3=", Welcome to Python Programming"

In [40]:
final_result=result+string3
print(final_result)

HELLOpoo, Welcome to Python Programming

2.String Slicing and Indexing:

In [41]:
text="HELLOpoo, Welcome to Python Programming"
print("First character:",text[0])
print("Last character:",text[-1])
print("First 5 characters:",text[:5])
print("Last 11 characters:",text[:-11])
print("Reversed string:",text[::-1])
print("Extracted word:",text[text.index("Python"):text.index("Python")+6])

First character: H
Last character: g
First 5 characters: HELLO
Last 11 characters: HELLOpoo, Welcome to Python
Reversed string: gnimmargorP nohtyP ot emocleW ,oopOLLEH
Extracted word: Python

3. String Methods

In [42]:
strM="Python beginner tutorial"
print("Uppercase:",strM.upper())
print("Lowercase:",strM.lower())
print("Capitalized:",strM.capitalize())
print("Count of 't':",strM.count('t'))
print("Replaced string:", strM.replace("Python", "Machine Learning"))

Uppercase: PYTHON BEGINNER TUTORIAL
Lowercase: python beginner tutorial
Capitalized: Python beginner tutorial
Count of 't': 3
Replaced string: Machine Learning beginner tutorial

Tuples (Creation, Modification and Access)

In [43]:
t1=(10,20,30)
t2=(40,50,60)
t_combine=t1+t2
print("Combined Tuple:", t_combine)
print("Repeated Tuple:", t_combine * 3)
print("First three elements:", t_combine[:3])
print("Last three elements:", t_combine[-3:])

Combined Tuple: (10, 20, 30, 40, 50, 60)
Repeated Tuple: (10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)
First three elements: (10, 20, 30)
Last three elements: (40, 50, 60)