<a href="https://colab.research.google.com/github/poovizhi-15/PYTHON-ASSIGNMENT/blob/main/python_assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Structures-List,Dictionary,Set & Conditional Statements**

**List (Creation, Modification and Access**):

1. List Creation:

In [ ]:
#a.Create age_list
age_list=[24,25,26,27,28]

In [ ]:
#b.Create name_list
name_list=["Abi","Banu","chitra","Devi","Elan"]

2. List Operations / Modifications:

In [ ]:
# a.Append "Yazhini"
name_list.append("Yazhini")

In [ ]:
# b.Insert element 30 at index 2
age_list.insert(2,30)

In [ ]:
# c. Remove "Yazhini"
name_list.remove("Yazhini")

In [ ]:
# d.Pop the last element from age_list
age_list.pop()

28

In [ ]:
# e.Extend the age_list
age_list.extend([29, 30, 26])

In [ ]:
# f.Sort age_list in descending order
age_list.sort(reverse=True)

In [ ]:
# g.Find Max age, Min age and sum of all ages from age_list.
max_age=max(age_list)
min_age=min(age_list)
sum_age=sum(age_list)
print("Age List:",age_list)
print("Max Age:",max_age)
print("Min Age:",min_age)
print("Sum of Ages:",sum_age)

Age List: [30, 27, 26, 25, 24, 29, 30, 26]
Max Age: 30
Min Age: 24
Sum of Ages: 217

3. Accessing List Elements:

In [ ]:
# a.First Element
print("First name:",name_list[0])

First name: Abi

In [ ]:
# b.Last Element
print("Last name:",name_list[-1])

Last name: Elan

In [ ]:
#c. Print the elements from index 2 to index 4 in name_list.
print("Index 2 to 4:", name_list[2:5])

Index 2 to 4: ['chitra', 'Devi', 'Elan']

In [ ]:
# d. Print the elements of name_list in reverse order.
print("Reversed List:", name_list[::-1])

Reversed List: ['Elan', 'Devi', 'chitra', 'Banu', 'Abi']

**Dictionary (Creation, Modification and Access)**:

In [ ]:
# a. Create a dictionary named student_marks that maps the names of five
# students to their marks (use scale of from 0 to 100).

student_marks={
    "Abi":80,
    "Banu":75,
    "Chitra":60,
    "Devi":54,
    "Elan":95

}

In [ ]:
# b. Access and print the mark of a specific student, of your choice.
print("Mark of Devi:",student_marks["Devi"])

Mark of Devi: 54

In [ ]:
# c. Add a new student "Janani" with a mark of 80 to the student_marks dictionary.
student_marks["Janani"] = 80

In [ ]:
# d. Update the mark of any one older student to 82.
student_marks["Abi"] = 82

In [ ]:
# e. Use the keys(), values(), and items() methods to print all keys, values, and
# key-value pairs in the student_marks dictionary.

print("Keys:", student_marks.keys())
print("Values:", student_marks.values())
print("Items:", student_marks.items())

Keys: dict_keys(['Abi', 'Banu', 'Chitra', 'Devi', 'Elan', 'Janani'])
Values: dict_values([82, 75, 60, 54, 95, 80])
Items: dict_items([('Abi', 82), ('Banu', 75), ('Chitra', 60), ('Devi', 54), ('Elan', 95), ('Janani', 80)])

**Sets** (Operations):

In [ ]:
#a. Create a set called my_set with following values:    ['a','e','i','o','u','a','a','i'] Analyse the output and provide explanation for the same.

my_set={'a','e','i','o','u','a','a','i'}
print(my_set)

{'a', 'e', 'i', 'o', 'u'}

In [ ]:
# b. Attempt to change the value of my_set[4] = 's'. If code throws an error, provide an explanation.
my_set[4]='s'

TypeError: 'set' object does not support item assignment

In [ ]:
# c. Create two sets:  set1 with values: {1, 3, 5, 7, 9}  set2 with values: {2, 3, 5, 8, 10}

set1 = {1, 3, 5, 7, 9}
set2 = {2, 3, 5, 8, 10}

In [ ]:
# d. Compute and print the union and intersection of set1 and set2.
print("Union:", set1.union(set2))
print("Intersection:", set1.intersection(set2))

Union: {1, 2, 3, 5, 7, 8, 9, 10}
Intersection: {3, 5}

Operators & Conditional Statements :
(IF, ELIF, ELSE)

In [ ]:
# Performance Category Program:

score=int(input("Enter your score(0 to 10): "))
if score>7:
    print("Above Average: Excellent performance! keep it up.")
elif 4 <=score <=7:
    print("Average: Good effort! Keep practicing.")
else:
    print("Below Average: Need to improve your performance, consistent practice will lead to better results.")

Enter your score(0 to 10): 7
Average: Good effort! Keep practicing.

# New section

# New section